<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.personnel.mapper.BaseDataMapper">
    <sql id="COUNT">
		id,base_name,parent_id,is_del
	</sql>
    <select id="findBaseParentId" resultType="com.dj.personnel.pojo.BaseData">
        SELECT
        <include refid="COUNT" />
        FROM
        base
        WHERE
        parent_id = #{id}
        AND is_del = 1
    </select>

    <select id="findBaseAll" resultType="com.dj.personnel.pojo.BaseData">
        SELECT
        <include refid="COUNT" />
        FROM
        base
    </select>

    <select id="findBaseById" resultType="com.dj.personnel.pojo.BaseData">
        SELECT
        <include refid="COUNT" />
        FROM
        base
        WHERE
        id = #{id}
    </select>

    <insert id="addBase" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO base (base_name,parent_id,is_del)
		VALUES
		(#{baseName},#{parentId},1)
	</insert>

    <update id="updateIsdel">
        update base set is_del = 0 where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="updateTree">
		update base set base_name = #{baseName} where id = #{id}

	</update>
</mapper>