<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.personnel.mapper.UserMapper">
    <sql id="USER_COUNT">
        id,p_id,username,password,status,create_time,user_level,user_phone,id_card,province
    </sql>

    <select id="findLevelShow" resultType="com.dj.personnel.pojo.User">
        SELECT
            u.id,
            u.username,
            u. PASSWORD,
            u. STATUS,
            u.create_time,
            u.user_level,
            u.p_id,
            u.user_phone,
            u.id_card,
            u.province,
            b.parent_id,
            b.base_name,
            b.id
        FROM
            USER u
        LEFT JOIN base b ON u.p_id = b.id
        <where>
            1 = 1
            <if test="user.userLevel == 2">
              and b.parent_id= #{user.pId}
            </if>
            <if test="user.userLevel == 3">
              and u.id= #{user.id}
            </if>
            <if test="user1.username!=null and user1.username!=''">
              and u.username like "%"#{user1.username}"%"
            </if>
            <if test="user1.userPhone!=null and user1.userPhone!=''">
                and u.user_phone = #{user1.userPhone}
            </if>
            <if test="user1.userLevel!=null">
                and u.user_level = #{user1.userLevel}
            </if>
            <if test="user1.idCard!=null and user1.idCard!=''">
                and u.id_card = #{user1.idCard}
            </if>
            <if test="user1.province!=null and user1.province!=''">
                and u.province = #{user1.province}
            </if>

        </where>

    </select>

    <select id="findUserByNameAndPwd" resultType="com.dj.personnel.pojo.User">
        select <include refid="USER_COUNT"/> from user where username = #{username} and password = #{password}
    </select>
</mapper>